.social-button {
    cursor: pointer;
    border: none;
    border-radius: 50%;
    font-size: 18px;
    color: var(--secondary-text-color);
    background-color: var(--lines-color);
    width: 40px;
    height: 40px;
}

.social-button[variant='dark'] {
    color: var(--secondary-alt-text-color);
    background-color: var(--footer-light-background-color);
}

.social-button+.social-button {
    margin-left: 15px;
}