#nav-mobile {
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;

    height: 75px;

    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
}

#header-logo-mobile {
    cursor: pointer;
    mask: url("../../../ic_head_logo.svg") no-repeat 50% / contain;
    background-color: var(--main-text-color);
    height: 25px;
    width: 200px;
    margin-bottom: 5px;
}

.nav-mobile-content {
    position: absolute;
    width: 100%;
    top: 75px;
    background: white;
    overflow: hidden;
    z-index: 0;
    transition: 0.3s;
}

.nav-mobile-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    cursor: pointer;

    color: var(--main-text-color);
    font-size: 20px;
    text-decoration: none;
}

.nav-mobile-item:hover {
    background: var(--lines-color);
}

.nav-mobile-item>*:first-child {
    margin-right: 20px;
}

.nav-mobile-content[visible=true] {
    max-height: 500px;
    transition: 0.3s ease-in;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.2);
}

.nav-mobile-content[visible=false] {
    max-height: 0;
    transition: 0.2s ease-out;

    box-shadow: 0px 5px 3px 0px rgba(0, 0, 0, 0);
}