.nav-user-block{
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.nav-user-circle{
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    
    width: 40px;
    height: 40px;

    border-radius: 10px;
    background-color: var(--blue-color);
    color: white;
    cursor: pointer;
}

.nav-user-popup{
    width: 200px;
    background-color: white;
    position: absolute;
    top: 80px;
    right: 10px;
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.2);
    border-radius: 8px;
    padding: 10px;
    display: flex;
    flex-direction: column;

    transition: 0.2s;
    opacity: 1;
    visibility: visible;
}

.nav-user-popup > * {
    width: 100%;
}

.nav-user-popup[variant=false]{
    opacity: 0;
    visibility: hidden;
}


.nav-user-popup > button:not(:first-child){
    margin-top: 10px;
}

.nav-user-open-button{
    width: 20px;
    height: 20px;
    color: var(--blue-color);
    background-color: white;
    position: absolute;
    bottom: -7px;
    right: -7px;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}